body {
  margin: 2rem;
  font-size: 62.5%;
}
#div1 {
  border: 3px dashed black;
  font-size: 1.5rem;
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
}
#p1 {
  padding: 1rem;
  border-bottom: 3px dashed black;
}
#p3 {
  padding: 1rem;
  border-bottom: none;
}
figure {
  padding-inline-start: 1rem;
}
img {
  width: 100%;
}

#flexbox {
  padding: 1rem;
  border-bottom: 3px dashed black;
  display: flex;
}
#flexbox > * {
  flex-basis: 50%;
}
